/* HEADER */
.title, .title-hero, .title-main  {
  text-align: center;
  padding: 50px 0;
}

.box-header  {
  text-align: center;
}

.box-header > img {
  height: 200px;
}

.box-header > h2 {
  line-height: 55px;
  font-size: 20px;
}

.box-header > p {
  line-height: 22px;
  padding-bottom: 30px;
  width: 60%;
  margin: 0 auto;
}
/* /HEADER */

/* MAIN */
/* hero */
.hero, .main-grey {
  background-color: #f9f9f9;
}

.hero {
  margin-bottom: 100px;
}

.box-hero {
  text-align: center;
}

.box-hero > img {
  height: 200px;
}

.box-hero > h2 {
  line-height: 50px;
  font-size: 20px;
}

.box-hero > p {
  line-height: 22px;
  margin-bottom: 45px;
}
/* /hero */

/* main grey */

.box-main {
  text-align: center;
  margin-bottom: 50px;
}

.box-main > img {
  background-color: deepskyblue;
  border-radius: 50% 50%;
  padding:20px;
  height: 250px;
  margin-top: 20px;
}

#color-green-img {
  background-color: green;
}

#color-img-orange {
  background-color: orange;
}

.box-main > h2 {
  line-height: 55px;
  font-size: 19px;
}

.box-main > hr {
  margin: 20px 0;
}

.box-main > p {
  line-height: 25px;
}
/* /MAIN */


/* tablet */
@media screen and (min-width:768px) and (max-width:991px) {
  h1 {
    font-size: 28px;
  }
  /* header */
  .box-header > img {
    height: 150px;
  }
  /* /header */
  /* hero */
  .box-hero {
    margin-bottom: 50px;
  }

  .box-hero P {
    width: 50%;
    margin: 0 auto;
  }

  .box-hero > img {
    height: 140px;
  }
  /* /hero */

  /* main */

  .box-main > img {
    height: 200px;
  }

  .box-main > h2 {
    line-height: 70px;
  }

  .box-main > p {
    width: 60%;
    margin: 0 auto;
  }

  .box-main > hr {
    width: 40%;
    margin: 30px auto;
  }
  /* /main */
}
/* smartphone */
@media screen and (max-width:767px) {

  h1 {
    font-size: 25px;
  }
  /* header */
  .box-header > img {
    height: 100px;
  }
  /* /header */
  /* hero */
  .box-hero {
    margin-bottom: 40px;
  }

  .box-hero > img {
    height: 120px;
  }
  .box-hero > p {
    width: 45%;
    margin: 0 auto;
  }
  /* /hero */

  /* main */
  .box-main > img {
    height: 150px;
  }

  .box-main > h2 {
    line-height: 70px;
  }

  .box-main > p {
    width: 55%;
    margin: 0 auto;
  }

  .box-main > hr {
    width: 30%;
    margin: 30px auto;
  }
  /* /main */
}
